{% extends "base.html" %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <style>
        input {
            color: black;
            margin-left: 5px;
        }   
        
        </style>
    <article>  
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}    
        {% endwith %}         
        <h3>Event Evaluation</h3>
        <ul>
            <li><h4>Remember, you can always access the Reference Page. It is linked on the menu bar and above the Event Details. </h4></li>
            <li>One of the authorizations came from Beijing. Be on HIGH alert!</li>
            <li>The successful to failed login ratio looks unconcerning for both locations.</li>
            <li>The source provider for both locations is a "Telecom" provider.</li>
            <li>You're 0% sure these authorizations are through a VPN.</li>
            <li>Time between authorizations suggests "Impossible Travel" and the lack of failed logins from Beijing suggests that the users credentials are
                compromised.</li>
            <li>For this event, there's not enough evidence to dismiss it. You should choose "Escalate" perhaps a "4" or "5" for
                confidence level.
            </li>
        </ul>
        <table>
            <tr><td><a href="{{ url_for('reference') }}" target="_blank"><h3>Reference Page</h3></a></td></tr>
            <tr><td>City of Authorization: </td> <td><pre>   </pre></td>   <td> {{event.country_of_authentication1}}</td></tr>
            <tr><td>Number of Successful Logins: </td>  <td><pre>   </pre></td>  <td> {{event.number_successful_logins1}}</td></tr>
            <tr><td>Number of Failed Logins: </td>  <td><pre>   </pre></td>  <td> {{event.number_failed_logins1}}</td></tr>
            <tr><td>Source Provider: </td> <td><pre>   </pre></td>   <td> {{event.source_provider1}}</td></tr>
            <tr><td>City of Authorization: </td>  <td><pre>   </pre></td>  <td> {{event.country_of_authentication2}}</td></tr>
            <tr><td>Number of Successful Logins: </td>   <td><pre>   </pre></td> <td> {{event.number_successful_logins2}}</td></tr>
            <tr><td>Number of Failed Logins: </td> <td><pre>   </pre></td>   <td> {{event.number_failed_logins2}}</td></tr>
            <tr><td>Source Provider: </td>  <td><pre>   </pre></td> <td> {{event.source_provider2}} </td></tr>
            <tr><td>Time Between Authentications: </td>  <td></td>  <td> {{event.time_between_authentications}} hrs</td></tr>
            <tr><td>VPN Confidence: </td> <td><pre>   </pre></td>  <td> {{event.vpn_confidence}} </td></tr>
        </table>
    </article>
    <aside>
        
        <p> Please determine if this event should be escalated.</p>
        <form action = "" method = "POST" id = "event_decision">
            {{ form.escalate }}
            <p> On a scale from 1 (low) to 5 (high), please rate your confidence in this decision.</p>
            {% for subfield in form.confidence %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {{ form.csrf_token }}
            <br><input type="submit" value="Submit"><input type="reset" value="Reset">
        </form>
    </aside>

    
{% endblock %}