{% extends "base.html" %}

{% block title %}
IDS Simulator - Welcome
{% endblock %}

{% block content %}
    
    <article>
        <header>
            <h1>This will be the homepage</h1>
            <p>There will be a welcome message and instructions for the user to follow. This page will take the user to the prequestionnaire.</p>
        </header>
        <section>
            <h2>Title: {{ section }}</h2>
            <p>Current User: {{ current_user }}</p>
        </section>
    </article>
    <aside>
        
        <p>If this is your first time on this page, please choose the "New Participant" button. If you need to restore a session that was interrupted, please select
            "Restore Session."
        </p>
        <button type="button" onclick="window.location.href='{{ url_for('register') }}';">New Participant</button>
        <button type="button" onclick="window.location.href='{{ url_for('login') }}';">Restore Session</button>
    </aside>

{% endblock %}
