{% extends "base.html" %}

{% block title %}
IDS Simulator - Welcome
{% endblock %}

{% block content %}
    
    <article>
        <header>
            <h1>This will be the homepage</h1>
            <p>There will be a welcome message and instructions for the user to follow. This page will take the user to the prequestionnaire.</p>
        </header>
        <section>
            <h2>Title: {{ section }}</h2>
            <p>Current User: {{ current_user }}</p>
        </section>
    </article>
    <aside>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        <form action = "" method = "POST" id = "login">
        
            <p>{{ form.username.label }}{{ form.username()}} </p>
            
            {{ form.csrf_token }}
            <input type="submit" value="Login">
        
        </form>
        
    </aside>

{% endblock %}
