{% extends "base.html" %}

{% block title %}
Logout
{% endblock %}

{% block content %}
    <style>
        button {
            color: black;
        }
        </style>
    <article>
        <h2>Completion Code: {{ code }}</h2>
        <p>Please write down your name and the Completion Code on the slip of paper provided and hand it to the experiment adminitrator.</p>
    </article>
    <aside>
        <p>Thank you for your participation!</p>
        <button type="submit" onclick="location.href='{{ url_for('index') }}';">Return to homepage!</button>
                    
    </aside>
{% endblock %}