{% extends "base.html" %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <style>
        input {
            color: black;
            margin-left: 5px;
        }   
        
        </style>
    <article>  
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}    
        {% endwith %}         
        <h4>Your goal is to correctly determine if this event should be escalated based on the the details provided. Remember, you can always access the 
                Reference Page. It is linked on the menu bar and above the Event Details. The following information will be provided for each event:</h4>
            <ul>
                <li>"City of Authorization" - There will be two of these fields, one for each location that the IDS detected an authorization from. It tells you
                        the location that the authorization came from.</li>
                <li>"Number of Successful Logins" - There will be two of these fields, one for each location that the IDS detected an authorization from. It tells
                        you how many times there was a successful login from this location in the past 24 hours.</li>
                <li>"Number of Failed Logins" - There will be two of these fields, one for each location that the IDS detected an authorization from. It tells
                        you how many times there was a failed login from this location in the past 24 hours.</li>
                <li>"Source Provider" - There will be two of these fields, one for each location that the IDS detected an authorization from. It tells you the type of
                        Internet Provider the authorizations came from.</li>
                <li>"Time Between Authorizations" - This is the field that typically triggers the alarm. The IDS correlates an authorization from each location
                        and determines that they happened too quickly.</li>
                <li>"VPN Confidence" - This should be treated as the conclusion that you, the analyst/participant, came to that this event involves a user utilizing 
                        a Virtual Private Network (VPN).</li>
            </ul>
        <h3>How to evaluate this event</h3>
        <ul>
            <li>One of the authorizations came from Moscow. Be on HIGH alert!</li>
            <li>The successful to failed login ratio looks unconcerning for both locations.</li>
            <li>The source provider for both locations is a "Hosting/server" provider.</li>
            <li>You're 95% sure these "Hosting/server" authorizations are through a VPN. Russia has a
                restrictive government that limits its population on internet access. Russian users will often VPN out of the country to get
                around the national firewall. This should make you feel better about this event.</li>
            <li>Time between authorizations suggests "Impossible Travel" but this could be explained by the use of a VPN.</li>
            <li>All things considered, you should feel confident that this event does not need to be escalated. Choose "Don't Escalate" perhaps a "4" or "5" for
                confidence level.
            </li>
        </ul>
        <table>
            <tr><td><a href="{{ url_for('reference') }}" target="_blank"><h3>Reference Page</h3></a></td></tr>
            <tr><td>City of Authorization: </td> <td><pre>   </pre></td>   <td> {{event.country_of_authentication1}}</td></tr>
            <tr><td>Number of Successful Logins: </td>  <td><pre>   </pre></td>  <td> {{event.number_successful_logins1}}</td></tr>
            <tr><td>Number of Failed Logins: </td>  <td><pre>   </pre></td>  <td> {{event.number_failed_logins1}}</td></tr>
            <tr><td>Source Provider: </td> <td><pre>   </pre></td>   <td> {{event.source_provider1}}</td></tr>
            <tr><td>City of Authorization: </td>  <td><pre>   </pre></td>  <td> {{event.country_of_authentication2}}</td></tr>
            <tr><td>Number of Successful Logins: </td>   <td><pre>   </pre></td> <td> {{event.number_successful_logins2}}</td></tr>
            <tr><td>Number of Failed Logins: </td> <td><pre>   </pre></td>   <td> {{event.number_failed_logins2}}</td></tr>
            <tr><td>Source Provider: </td>  <td><pre>   </pre></td> <td> {{event.source_provider2}} </td></tr>
            <tr><td>Time Between Authentications: </td>  <td></td>  <td> {{event.time_between_authentications}} hrs</td></tr>
            <tr><td>VPN Confidence: </td> <td><pre>   </pre></td>  <td> {{event.vpn_confidence}} </td></tr>
        </table>

    </article>
    <aside>
        
        <p> Please determine if this event should be escalated.</p>
        <p>A decision to "Escalate" means that there is either evidence to suggest that malicious behavior is occurring, or that there isn't enough 
            information provided to dismiss the alert.</p>
        <p>A decision of "Don't Escalate" means that there is evidence to suggest that the alert is a false alarm.</p>
        <form action = "" method = "POST" id = "event_decision">
            {{ form.escalate }}
            <p> On a scale from 1 (low) to 5 (high), please rate your confidence in this decision. A decision of "I don't know" does not require a
                    confidence rating.</p>
        <form action = "" method = "POST" id = "event_decision">
            {{ form.escalate }}
            <p> On a scale from 1 (low) to 5 (high), please rate your confidence in this decision. A decision of "I don't know" does not require a
                    confidence rating.</p>
            {% for subfield in form.confidence %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {{ form.csrf_token }}
            <br><input type="submit" value="Submit"><input type="reset" value="Reset">
        </form>
    </aside>

    
{% endblock %}