{% extends "base.html" %}

{% block title %}
Post-experiment Survey
{% endblock %}

{% block content %}
    <main>
        <header>
            <h1>Post-experiment Survey</h1>
            <p>Please rate how you feel about the following.</p>
            <form action = "" method = "POST" id = "postsurvey">
                <ol>
                    <li><h4>What information was most useful in determining whether or not an alert represented malicious behavior?</h4></li> 
                        <textarea rows="4" cols="50"></textarea>
                    <li><h4>Is there any other feedback you would like to provide?</h4></li> 
                        <textarea rows="4" cols="50"></textarea>
                </ol>
                <input type="submit" value="Submit">
            </form>
        </header>
    </main>
{% endblock %}