{% extends "base.html" %}

{% block title %}
Reference Page
{% endblock %}

{% block content %}

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-wa1i{font-weight:bold;text-align:center;vertical-align:middle}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
    </style>
    <h2>How to evaluate an event</h2>
      <ul>
          <li>Look at the locations of the authorizations and consider the concern level for each location. This alone shouldn't be the deciding factor, but locations
              with a high level of concern should be evaluated critically.
          </li>
          <li>Evaluate the time between authorizations. Authorizations from different locations in a short time could be an indication of account compromise.
                Refer to the chart below for typical travel times between locations.</li>
          <li>Analyze the ratio of successful logins to failed logins from each location. More failed logins than successful logins could be an indication of
              password guessing.              
          </li>
          <li>Evaluate the source providers that the authorizations are coming from. "Telecoms" are traditional Internet Source Providers (ISPs), such as Spectrum and
                U-verse. When you see "Mobile/cellular," think of companies such as Verison Wireless, AT&T, or Sprint. "Hosting/server" providers are companies that
                provider a variey of services, such as Virtual Private Network (VPN's), web hosting, and server space. There's nothing inherently safe or malicious about
                any type of source provider, but knowing can help you determine if other information makes sense.
          </li>
          <li>
              The number attributed to "VPN Confidence" should be treated as the conclusion that you, the analyst/participant, came to that this event
                involves a user utilizing a VPN.
          </li>
      </ul> 
    <h2>Things to keep in mind</h2>
        <ul>
            <li>Users visiting countries with restrictive governments will often use a VPN to get past that nation's firewall.</li>
            <li>It's not unusual for a mobile device to ping in the country the mobile device is registered in when the user is traveling abroad.</li>
            <li>The travel times listed in the table below are guidelines, not absolutes.</li>
        </ul>
    <h2>Concern Level for each location</h2>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
        .tg .tg-k6ey{font-weight:bold;background-color:#f8ff00;border-color:inherit;text-align:center;vertical-align:middle}
        .tg .tg-q165{font-weight:bold;background-color:#fe0000;border-color:inherit;text-align:center;vertical-align:middle}
        .tg .tg-2aeq{font-weight:bold;background-color:#32cb00;border-color:inherit;text-align:center;vertical-align:middle}
        </style>
        <table class="tg">
          <tr>
            <td class="tg-q165">High</td>
            <td class="tg-9wq8">Moscow</td>
            <td class="tg-9wq8">Beijing</td>
            <td class="tg-9wq8"></td>
            <td class="tg-9wq8"></td>
            <td class="tg-9wq8"></td>
            <td class="tg-9wq8"></td>
          </tr>
          <tr>
            <td class="tg-k6ey">Medium</td>
            <td class="tg-9wq8">London</td>
            <td class="tg-9wq8">Paris</td>
            <td class="tg-9wq8">Berlin</td>
            <td class="tg-9wq8">Tokyo</td>
            <td class="tg-9wq8"></td>
            <td class="tg-9wq8"></td>
          </tr>
          <tr>
            <td class="tg-2aeq">Low</td>
            <td class="tg-9wq8">New York</td>
            <td class="tg-9wq8">Seattle</td>
            <td class="tg-9wq8">Los Angeles</td>
            <td class="tg-9wq8">Miami</td>
            <td class="tg-9wq8">Vancouver</td>
            <td class="tg-9wq8">Toronto</td>
          </tr>
        </table>
    <h2>Typical travel times between cites (hours)</h2>
    <table class="tg">
      <tr>
        <td class="tg-wa1i">USA</td>
        <td class="tg-wa1i">New York</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i"></td>
        <td class="tg-wa1i">Seattle</td>
        <td class="tg-nrix">6</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i"></td>
        <td class="tg-wa1i">Los Angeles</td>
        <td class="tg-nrix">5.75</td>
        <td class="tg-nrix">2.7</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i"></td>
        <td class="tg-wa1i">Miami</td>
        <td class="tg-nrix">3</td>
        <td class="tg-nrix">5.85</td>
        <td class="tg-nrix">5.15</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i">Canada</td>
        <td class="tg-wa1i">Vancouver</td>
        <td class="tg-nrix">5.67</td>
        <td class="tg-nrix">3</td>
        <td class="tg-nrix">2.75</td>
        <td class="tg-nrix">8.25</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i"></td>
        <td class="tg-wa1i">Toronto</td>
        <td class="tg-nrix">1.5</td>
        <td class="tg-nrix">4.5</td>
        <td class="tg-nrix">4.5</td>
        <td class="tg-nrix">3</td>
        <td class="tg-nrix">4.33</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i">England</td>
        <td class="tg-wa1i">London</td>
        <td class="tg-nrix">6.75</td>
        <td class="tg-nrix">9.25</td>
        <td class="tg-nrix">10.25</td>
        <td class="tg-nrix">8.33</td>
        <td class="tg-nrix">9.25</td>
        <td class="tg-nrix">6.95</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i">France</td>
        <td class="tg-wa1i">Paris</td>
        <td class="tg-nrix">6.9</td>
        <td class="tg-nrix">9.55</td>
        <td class="tg-nrix">10.5</td>
        <td class="tg-nrix">8.85</td>
        <td class="tg-nrix">9.5</td>
        <td class="tg-nrix">7.15</td>
        <td class="tg-nrix">2.5</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i">Germany</td>
        <td class="tg-wa1i">Berlin</td>
        <td class="tg-nrix">8</td>
        <td class="tg-nrix">11.95</td>
        <td class="tg-nrix">12.67</td>
        <td class="tg-nrix">11.5</td>
        <td class="tg-nrix">11.85</td>
        <td class="tg-nrix">7.85</td>
        <td class="tg-nrix">1.67</td>
        <td class="tg-nrix">1.67</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i">Japan</td>
        <td class="tg-wa1i">Tokyo</td>
        <td class="tg-nrix">13.5</td>
        <td class="tg-nrix">9.55</td>
        <td class="tg-nrix">11.15</td>
        <td class="tg-nrix">16.33</td>
        <td class="tg-nrix">10</td>
        <td class="tg-nrix">13</td>
        <td class="tg-nrix">11.5</td>
        <td class="tg-nrix">11.75</td>
        <td class="tg-nrix">11.85</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i">Russia</td>
        <td class="tg-wa1i">Moscow</td>
        <td class="tg-nrix">9.2</td>
        <td class="tg-nrix">14.55</td>
        <td class="tg-nrix">11.25</td>
        <td class="tg-nrix">11.25</td>
        <td class="tg-nrix">14.5</td>
        <td class="tg-nrix">11.5</td>
        <td class="tg-nrix">3.67</td>
        <td class="tg-nrix">3.35</td>
        <td class="tg-nrix">2.45</td>
        <td class="tg-nrix">9.85</td>
        <td class="tg-nrix">0</td>
        <td class="tg-nrix"></td>
      </tr>
      <tr>
        <td class="tg-wa1i">China</td>
        <td class="tg-wa1i">Beijing</td>
        <td class="tg-nrix">13.5</td>
        <td class="tg-nrix">11.4</td>
        <td class="tg-nrix">12.67</td>
        <td class="tg-nrix">17.5</td>
        <td class="tg-nrix">10.67</td>
        <td class="tg-nrix">13.45</td>
        <td class="tg-nrix">9.67</td>
        <td class="tg-nrix">10.05</td>
        <td class="tg-nrix">9.15</td>
        <td class="tg-nrix">3.15</td>
        <td class="tg-nrix">7.5</td>
        <td class="tg-nrix">0</td>
      </tr>
      <tr>
        <td class="tg-nrix"></td>
        <td class="tg-nrix"></td>
        <td class="tg-wa1i">New York</td>
        <td class="tg-wa1i">Seattle</td>
        <td class="tg-wa1i">Los Angeles</td>
        <td class="tg-wa1i">Miami</td>
        <td class="tg-wa1i">Vancouver</td>
        <td class="tg-wa1i">Toronto</td>
        <td class="tg-wa1i">London</td>
        <td class="tg-wa1i">Paris</td>
        <td class="tg-wa1i">Berlin</td>
        <td class="tg-wa1i">Tokyo</td>
        <td class="tg-wa1i">Moscow</td>
        <td class="tg-wa1i">Beijing</td>
      </tr>
    </table>
    

{% endblock %}