{% extends "base.html" %}

{% block title %}
Experiment Events
{% endblock %}

{% block content %}
    <style>
        
        table, th, td {
            border: 1px solid black;
            text-align: center;
            padding: 10px;
        }
        td {
            cursor: pointer;
        }
        tr:hover {
            background-color: lightblue;
        }        
        
    </style>
    <div>
        <table align="center">
           <tr>
               <td>Event Number</td><td>Status</td><td>Decision</td>
           </tr>
            
            {% for event in eventsList %}
                <tr onclick="window.location.href='{{ url_for('eventPage', eventId = event.id, time_event_click = {{now}}) }}';">
                    <td><a href='{{ url_for('eventPage', eventId = event.id, time_event_click = {{now}} ) }}'> Event {{ loop.index }}</a></td>     
                    <td></td>
                    <td></td>               
                
            {% endfor %}
        </tr>
        </table>
        <button type="submit" onclick="location.href='{{ url_for('postsurvey') }}';">Finished!</button>
    </div>
{% endblock %}