{% extends "base.html" %}

{% block title %}
Training Events
{% endblock %}

{% block content %}
    <style>
        
        table, th, td {
            border: 3px solid black;
            text-align: center;
            padding: 10px;
        }
        
        tr:hover {
            background-color: lightblue;
        }  
        tr:first-child:hover {
            background-color: white;
        }      
        tr:nth-child(even) {background-color: lightgrey;}
    </style>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}    
        {% endwith %}
        <h3>Instructions:</h3>
        <ul>
            <li>Please evaluate each event. Your decision for each event will be posted next to the event.</li>
            <li>Please only use resources provided (i.e. Please don't use the internet. Besides, it probably won't help).</li>
            <li>When you've evaluated all events, please click the "Take the experiment!" button at the bottom.</li>

        </ul>
        <table align="center">
           <tr>
               <td><h4>Event Number</h4></td><td><h4>Decision</h4></td>
           </tr>
            
            {% for event, decision in eventsList %}
                <tr>
                    {% if event.id == 1 %}
                    <td><a href="{{ url_for('MoscowEventPage', eventId = event.id) }}"> Event {{ loop.index }}</a></td> 
                    {% elif event.id == 2 %}
                    <td><a href="{{ url_for('BeijingEventPage', eventId = event.id) }}"> Event {{ loop.index }}</a></td> 
                    {% else %}
                    <td><a href="{{ url_for('trainingEventPage', eventId = event.id) }}"> Event {{ loop.index }}</a></td>    
                    {% endif %} 
                    <td>{% if decision != None %}
                            {{ decision }}
                        {% endif %}
                    </td>
                                  
                </tr>        
            {% endfor %}
        
        </table>
        <form action ="" method="POST">
            <input type="submit" value="Take the experiment!">
        </form>
    </div>
{% endblock %}