{% extends "base.html" %}

{% block title %}
IDS Simulator - Welcome
{% endblock %}

{% block content %}
<h1>Welcome!</h1>
<p>We are researchers at the University of North Carolina Wilmington. You are invited to be part of this research
    study. We are examining to what extent human factors affect cyber security analysts’ performance in detecting
    malicious network activity. We are recruiting participants to fill out questionnaires and participant in a
    computerbased task.</p>

<h2>What will happen?</h2>
<ul>
    <li>This task will take about one hour of your time</li>
    <li>We will ask you to complete two brief surveys and complete computer task where you will inspect a
        number of networks events to determine if they are malicious or benign in nature.</li>
    <li>You will be working on the computer, and the computer screen may be recorded. The experiment proctor will
        confirm this for you.</li>
    <li>Students enrolled in MIS-322 class will receive one extra credit point upon completing this study. All
        other participants will be entered in a raffle to win one of five $30 Amazon gift cards.</li>
</ul>

<h2>How will your confidentiality by protected?</h2>
<ul>
    <li>To the best of our knowledge, the risks of this study are the same as you would encounter in everyday life.</li>
    <li>Your name will not be associated with any other information in this study.</li>
    <li>The final report of this study will not identify anything that can be traced to you.</li>
</ul>

<h2>These are your rights</h2>
<ul>
    <li>Your participation in this research is voluntary.</li>
    <li>You can choose not to answer a question at any time. Refusing to answer a question will not affect
        anything you do connected to the University of North Carolina Wilmington.</li>
    <li>You can end your participation at any point if you are uncomfortable with the questioning.</li>
    <li>If you have questions, concerns or would like a summary of our findings, you may contact Will Roden at <a
            href="mailto:wtr3057@uncw.edu">wtr3057@uncw.edu</a> or Dr. Lucas Layman, UNCW at 910-962-3672.</li>
    <li>If you have any questions or concerns about your rights as a research subject and would like to talk to someone
        who is not involved with the study, contact the UNCW Institutional Review Board Office at IRB@uncw.edu or
        910-962-7774.</li>
</ul>

<h2>Begin</h2>
<p>Please login with the provided username to start the experiment.</p>
<form action="" method="POST" id="login">
    {% if error != None %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endif %}
    <p> {{ form.username.label }} {{ form.username()}} </p>
    {{ form.csrf_token }}
    <input type="submit" value="Login">
</form>
{% endblock %}