{% extends "base.html" %}

{% block title %}
Event Details
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    Not all form fields were filled out. Please check for error messages below.
</div>
{% endif %}

<h1>Training Event #{{ number }}</h1>
<p class="lead">Please read this entire page carefully.</p>

<h3>Step 1 - Open the Security Playbook</h3>
<p>First, open the <a href="{{url_for('reference')}}">Security Playbook</a> in a new window (Right click&rarr;Open Link
    in New Window). It contains descriptions of the network event data and other helpful information you will need. You
    can always access the Security Playbook from the navigation bar. You will become more and more familiar with the
    playbook as the experiment progresses. Take your time to understand what is in the Security Playbook and refer to it
    often to help you.</p>

<h3>Step 2 - Read over the network event details</h3>
<p>You will see a table similar to the one below for each network event the IDS has alerted on. Your goal is to
    correctly determine if this event should be escalated based on the the details provided.</p>

<p>The IDS alerts to what may be <em>Impossible Travel</em>, which occurs when someone tries to log in to a user account
    (e.g., your email, SeaNet) from different geographical locations.</p>

<table class="table">
    <tr>
        <th scope="row">City of Authorization</th>
        <td>{{ event.country_of_authentication1 }}</td>
        <td>{{ event.country_of_authentication2 }}</td>
    </tr>
    <tr>
        <th scope="row">Number of Successful Logins</th>
        <td>{{ event.number_successful_logins1 }}</td>
        <td>{{ event.number_successful_logins2 }}</td>
    </tr>
    <tr>
        <th scope="row">Number of Failed Logins</th>
        <td>{{ event.number_failed_logins1 }}</td>
        <td>{{ event.number_failed_logins2 }}</td>
    </tr>
    <tr>
        <th scope="row">Source Provider</th>
        <td>{{ event.source_provider1 }}</td>
        <td>{{ event.source_provider2 }}</td>
    </tr>
    <tr>
        <th scope="row">Time between Authentications</th>
        <td colspan="2" class="text-center">{{event.time_between_authentications}} hrs</td>
    </tr>
    <tr>
        <th scope="row">VPN Confidence</th>
        <td colspan="2" class="text-center">{{event.vpn_confidence}}</td>
    </tr>
</table>

<h3>Step 3 - Evaluate the event</h3>

<p>Now is the time to reason about the network event - is it a problem that needs to be escalated to senior personnel,
    or is this a false alarm on normal activity? You must use the information in the <a
        href="{{ url_for('reference')}}">Security Playbook</a> to make you make your decision.</p>

Here are some considerations for the network event in the table above:
<ul>
    <li>One of the authorizations came from Moscow, but XYZ company is based in the USA.</li>
    <li>The successful to failed login ratio looks unconcerning for both locations, so maybe we should rule out that
        someone is trying to guess the password.</li>
    <li>The source provider for both locations is a "hosting/server" provider, so the authentication attempts are
        <em>not</em> coming from a home computer or phone.</li>
    <li>You are 95% sure these "hosting/server" authorizations are through a VPN. Russia's government sometimes limits
        its population's internet access. Russian users will often VPN out of the country to get
        around the national firewall. This should make you feel better about this event.</li>
    <li>Time between authorizations suggests "Impossible Travel" but this could be explained by the use of a VPN.</li>
    <li>All things considered, you should feel confident that this event does <em>not</em> need to be escalated. Choose
        "Don't
        Escalate" and perhaps a "4" or "5" for confidence level.
    </li>
</ul>
<p>All of these decisions are based on information in the Security Playbook, as well as your own technical savvy. Again,
    you will become more familiar with the Security Playbook and the information therein as the experiement progresses.
</p>

<h3>Step 4 - Make your decision</h3>
<p>The "Event Decision" form will record your answer.</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Event Decision Form</h5>
        <h6 class="card-subtitle mb-2 text-muted">Determine if this event should be escalated. </h6>

        <form action="" method="POST" id="event_decision">
            <div class="form-group">
                <p>A decision to "Escalate" means that there is either evidence to suggest that malicious behavior is
                    occurring, or that there isn't enough information provided to dismiss the alert.</p>
                <p>A decision of "Don't Escalate" means that there is evidence to suggest that the alert is a false
                    alarm.</p>
                {% if form.escalate.errors %}
                <div class="alert alert-danger" role="alert">
                    You must select a value.
                </div>
                {% endif %}
                <ul class="list-unstyled">
                    {% for subfield in form.escalate %}
                    <li>{{ subfield }} {{ subfield.label }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="form-group">
                <p> On a scale from 1 (low) to 5 (high), please rate your confidence in this decision. A decision of "I
                    don't know" does not require a confidence rating.</p>
                {% if form.confidence.errors %}
                <div class="alert alert-danger" role="alert">
                    You must select a confidence level.
                </div>
                {% endif %}
                {% for subfield in form.confidence %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
            </div>
            {{ form.csrf_token }}
            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset" class="btn">
        </form>
    </div>
</div>

{% endblock %}