{% extends "base.html" %}

{% block title %}
Pre-experiment Questionnaire
{% endblock %}

{% block content %}


<h1>Pre-experiment Questionnaire</h1>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    You must answer all questions before submitting. Please check for error messages below.
</div>
{% endif %}





<form action="" method="POST" id="prequiz">
    <h2>Your background</h2>
    <p>Answer these questions honestly. Your answers have <em>no impact</em> on the rest of the experiment or your
        eligibility to receive compensation.</p>
    <ol>
        <li>
            <p>
                {% if form.role.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endif %}
                {{ form.role.label }}
                {{ form.role }}
            </p>

        </li>
        <li class="mt-5">

            <p>
                {% if form.exp_researcher.errors or form.exp_admin.errors or form.exp_software.errors or form.exp_security.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value for each role.</strong>
                </div>
                {% endif %}
                How many years of professional experience do you have in the following (select all that apply):
            </p>
            <table>
                <tr>
                    <td>{{ form.exp_researcher.label }}</td>
                    <td class="pl-3">{{ form.exp_researcher }}</td>
                </tr>
                <tr>
                    <td>{{ form.exp_admin.label }}</td>
                    <td class="pl-3">{{ form.exp_admin }}</td>
                </tr>
                <tr>
                    <td>{{ form.exp_software.label }}</td>
                    <td class="pl-3">{{ form.exp_software }}</td>
                </tr>
                <tr>
                    <td>{{ form.exp_security.label }}</td>
                    <td class="pl-3">{{ form.exp_security }}</td>
                </tr>
            </table>
        </li>
        <li class="mt-5">

            <p>
                {% if form.familiarity_none.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select at least one checkbox.</strong>
                </div>
                {% endif %}
                How familiar are you with Internet cyber security attacks? (select all that apply)
            </p>
            <table>
                <tr>
                    <td>{{ form.familiarity_none }}</td>
                    <td class="pl-1">{{form.familiarity_none.label}}</td>
                </tr>
                <tr>
                    <td>{{ form.familiarity_read }}</td>
                    <td class="pl-1">{{form.familiarity_read.label}}</td>
                </tr>
                <tr>
                    <td>{{ form.familiarity_controlled }}</td>
                    <td class="pl-1">{{form.familiarity_controlled.label}}</td>
                </tr>
                <tr>
                    <td>{{ form.familiarity_public }}</td>
                    <td class="pl-1">{{form.familiarity_public.label}}</td>
                </tr>
                <tr>
                    <td>{{ form.familiarity_engineered }}</td>
                    <td class="pl-1">{{form.familiarity_engineered.label}}</td>
                </tr>
            </table>
        </li>
    </ol>

    <h2>Networking Questions</h2>
    <p>Answer these questions to tbe best of your ability. <em>Do not</em> use any outside resources, including the
        Internet or another student. Your answers have <em>no impact</em> on the rest of the experiment or your
        eligibility to receive compensation.</p>
    <ol start=4>
        <li class="mt-5">

            <p> {% if form.subnet_mask.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endif %}
                What is the <em>subnet mask</em> for 173.67.14.127 / 24?
            </p>
            <ul class="list-unstyled">
                {% for subfield in form.subnet_mask %}
                <li>{{ subfield }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>

        </li>
        <li class="mt-5">

            <p> {% if form.network_address.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endif %}
                What is the <em>network address</em> for 173.67.14.127 / 24?
            </p>
            <ul class="list-unstyled">
                {% for subfield in form.network_address %}
                <li>{{ subfield }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>


        </li>
        <li class="mt-5">
            <p>{% if form.tcp_faster.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endif %}
                True or False: TCP is a faster, more efficient transfer protocol compared to UDP?
            </p>
            <ul class="list-unstyled">
                {% for subfield in form.tcp_faster %}
                <li>{{ subfield }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>

        </li>
        <li class="mt-5">

            <p>{% if form.http_port.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endif %}
                Which port does HTTP use by default?
            </p>
            <ul class="list-unstyled">
                {% for subfield in form.http_port %}
                <li>{{ subfield }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>

        </li>
        <li class="mt-5">
            <p> {% if form.security_device.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endif %}
                A network security device that monitors incoming and outgoing network
                traffic and decides whether to allow or block specific traffic based
                on a defined set of security rules is the definition of a(n):
            </p>
            <ul class="list-unstyled">
                {% for subfield in form.security_device %}
                <li>{{ subfield }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>

        </li>
        <li class="mt-5">
            <p> {% if form.ip_port.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endif %}
                The combination of an IP address and the port used is called a:
            </p>

            <ul class="list-unstyled">
                {% for subfield in form.ip_port %}
                <li>{{ subfield }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>

        </li>
        <li class="mt-5">
            <p> {% for error in form.which_model.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please select a value.</strong>
                </div>
                {% endfor %}
                Network, Internet, Transport, Application are the layers of which networking model?
            </p>
            <ul class="list-unstyled">
                {% for subfield in form.which_model %}
                <li>{{ subfield }} {{ subfield.label }}</li>
                {% endfor %}
            </ul>

        </li>
    </ol>
    {{ form.csrf_token }}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock %}