{% extends "base.html" %}

{% block title %}
Reference Page
{% endblock %}

{% block content %}

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-wa1i{font-weight:bold;text-align:center;vertical-align:middle}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
    </style>
    <h1>The Security Playbook</h1>
      <p>
        This page provides guidelines that will help you determine whether an event should be escalated. It can be accessed at any time by clicking the link at the
          top of any Event Details Page, or on the menu bar at the top of the page. As you will most likely reference this page often, it may benefit you to leave it open in
          seperate tab.
      </p>
      <p> It contains descriptions of the network event data and other helpful information you will need. You
          can always access the Security Playbook from the navigation bar. You will become more and more familiar with the
          playbook as the experiment progresses. Take your time to understand what is in the Security Playbook and refer to it
          often to help you.</p>
    <h2>Event Data</h2>
    <ul>
        <li>"City of Authorization" - There will be two of these fields, one for each location that the IDS detected an
            authorization from. It tells you
            the location that the authorization came from.</li>
        <li>"Number of Successful Logins" - There will be two of these fields, one for each location that the IDS detected
            an authorization from. It tells
            you how many times there was a successful login from this location in the past 24 hours.</li>
        <li>"Number of Failed Logins" - There will be two of these fields, one for each location that the IDS detected an
            authorization from. It tells
            you how many times there was a failed login from this location in the past 24 hours.</li>
        <li>"Source Provider" - There will be two of these fields, one for each location that the IDS detected an
            authorization from. It tells you the type of
            Internet Provider the authorizations came from.</li>
        <li>"Time Between Authorizations" - This is the field that typically triggers the alarm. The IDS correlates an
            authorization from each location
            and determines that they happened too quickly.</li>
        <li>"VPN Confidence" - This should be treated as the conclusion that you, the analyst/participant, came to that this
            event involves a user utilizing
            a Virtual Private Network (VPN).</li>
    </ul>
    <h2>How to evaluate an event</h2>
      <ul>
          <li>Look at the locations of the authorizations and consider the concern level for each location. This alone shouldn't be the deciding factor, but locations
              with a high level of concern should be evaluated critically.
          </li>
          <li>Evaluate the time between authorizations. Authorizations from different locations in a short time could be an indication of account compromise.
                Refer to the chart below for typical travel times between locations.</li>
          <li>Analyze the ratio of successful logins to failed logins from each location. More failed logins than successful logins could be an indication of
              password guessing.              
          </li>
          <li>Evaluate the source providers that the authorizations are coming from. "Telecoms" are traditional Internet Source Providers (ISPs), such as Spectrum and
                U-verse. When you see "Mobile/cellular," think of companies such as Verison Wireless, AT&T, or Sprint. "Hosting/server" providers are companies that
                provide a variey of services, such as Virtual Private Networks (VPN's), web hosting, and server space. There's nothing inherently safe or malicious about
                any type of source provider, but knowing can help you determine if other information makes sense.
          </li>
          <li>
              The number attributed to "VPN Confidence" should be treated as the conclusion that you, the analyst/participant, came to that this event
                involves a user utilizing a VPN.
          </li>
      </ul> 
    <h2>Things to keep in mind</h2>
        <ul>
            <li>Users visiting countries with restrictive governments will often use a VPN to get past that nation's firewall.</li>
            <li>It's not unusual for a mobile device to ping in the country the mobile device is registered in when the user is traveling abroad.</li>
            <li>The travel times listed in the table below are guidelines, not absolutes.</li>
        </ul>
    <h2>Concern Level for each location</h2>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
      .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
      .tg .tg-uzvj{font-weight:bold;border-color:inherit;text-align:center;vertical-align:middle}
      .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
      .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
      </style>
      <table class="tg">
        <tr>
          <th class="tg-9wq8"> </th>
          <th class="tg-uzvj"> </th>
          <th class="tg-uzvj">New<br>&nbsp;&nbsp;York</th>
          <th class="tg-uzvj">Seattle</th>
          <th class="tg-uzvj">Los<br>&nbsp;&nbsp;Angeles</th>
          <th class="tg-uzvj">Miami</th>
          <th class="tg-uzvj">Vancouver</th>
          <th class="tg-fymr">Toronto</th>
          <th class="tg-fymr">London</th>
          <th class="tg-fymr">Paris</th>
          <th class="tg-fymr">Berlin</th>
          <th class="tg-fymr">Tokyo</th>
          <th class="tg-fymr">Moscow</th>
          <th class="tg-fymr">Beijing</th>
        </tr>
        <tr>
          <td class="tg-uzvj">USA</td>
          <td class="tg-uzvj">New York</td>
          <td class="tg-9wq8">0</td>
          <td class="tg-9wq8">6</td>
          <td class="tg-9wq8">5.75</td>
          <td class="tg-9wq8">3</td>
          <td class="tg-9wq8">5.67</td>
          <td class="tg-0pky">1.5</td>
          <td class="tg-0pky">6.75</td>
          <td class="tg-0pky">6.9</td>
          <td class="tg-0pky">8</td>
          <td class="tg-0pky">13.5</td>
          <td class="tg-0pky">9.2</td>
          <td class="tg-0pky">13.5</td>
        </tr>
        <tr>
          <td class="tg-9wq8"> </td>
          <td class="tg-uzvj">Seattle</td>
          <td class="tg-9wq8">6</td>
          <td class="tg-9wq8">0</td>
          <td class="tg-9wq8">2.7</td>
          <td class="tg-9wq8">5.85</td>
          <td class="tg-9wq8">3</td>
          <td class="tg-0pky">4.5</td>
          <td class="tg-0pky">9.25</td>
          <td class="tg-0pky">9.55</td>
          <td class="tg-0pky">11.95</td>
          <td class="tg-0pky">9.55</td>
          <td class="tg-0pky">14.55</td>
          <td class="tg-0pky">11.4</td>
        </tr>
        <tr>
          <td class="tg-fymr"> </td>
          <td class="tg-fymr">Los Angeles</td>
          <td class="tg-0pky">5.75</td>
          <td class="tg-0pky">2.7</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">5.15</td>
          <td class="tg-0pky">2.75</td>
          <td class="tg-0pky">4.5</td>
          <td class="tg-0pky">10.25</td>
          <td class="tg-0pky">10.5</td>
          <td class="tg-0pky">12.67</td>
          <td class="tg-0pky">11.15</td>
          <td class="tg-0pky">11.25</td>
          <td class="tg-0pky">12.67</td>
        </tr>
        <tr>
          <td class="tg-fymr"> </td>
          <td class="tg-fymr">Miami</td>
          <td class="tg-0pky">3</td>
          <td class="tg-0pky">5.85</td>
          <td class="tg-0pky">5.15</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">8.25</td>
          <td class="tg-0pky">3</td>
          <td class="tg-0pky">8.33</td>
          <td class="tg-0pky">8.85</td>
          <td class="tg-0pky">11.5</td>
          <td class="tg-0pky">16.33</td>
          <td class="tg-0pky">11.25</td>
          <td class="tg-0pky">17.5</td>
        </tr>
        <tr>
          <td class="tg-fymr">Canada</td>
          <td class="tg-fymr">Vancouver</td>
          <td class="tg-0pky">5.67</td>
          <td class="tg-0pky">3</td>
          <td class="tg-0pky">2.75</td>
          <td class="tg-0pky">8.25</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">4.33</td>
          <td class="tg-0pky">9.25</td>
          <td class="tg-0pky">9.5</td>
          <td class="tg-0pky">11.85</td>
          <td class="tg-0pky">10</td>
          <td class="tg-0pky">14.5</td>
          <td class="tg-0pky">10.67</td>
        </tr>
        <tr>
          <td class="tg-fymr"> </td>
          <td class="tg-fymr">Toronto</td>
          <td class="tg-0pky">1.5</td>
          <td class="tg-0pky">4.5</td>
          <td class="tg-0pky">4.5</td>
          <td class="tg-0pky">3</td>
          <td class="tg-0pky">4.33</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">6.95</td>
          <td class="tg-0pky">7.15</td>
          <td class="tg-0pky">7.85</td>
          <td class="tg-0pky">13</td>
          <td class="tg-0pky">11.5</td>
          <td class="tg-0pky">13.45</td>
        </tr>
        <tr>
          <td class="tg-fymr">England</td>
          <td class="tg-fymr">London</td>
          <td class="tg-0pky">6.75</td>
          <td class="tg-0pky">9.25</td>
          <td class="tg-0pky">10.25</td>
          <td class="tg-0pky">8.33</td>
          <td class="tg-0pky">9.25</td>
          <td class="tg-0pky">6.95</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">2.5</td>
          <td class="tg-0pky">1.67</td>
          <td class="tg-0pky">11.5</td>
          <td class="tg-0pky">3.67</td>
          <td class="tg-0pky">9.67</td>
        </tr>
        <tr>
          <td class="tg-fymr">France</td>
          <td class="tg-fymr">Paris</td>
          <td class="tg-0pky">6.9</td>
          <td class="tg-0pky">9.55</td>
          <td class="tg-0pky">10.5</td>
          <td class="tg-0pky">8.85</td>
          <td class="tg-0pky">9.5</td>
          <td class="tg-0pky">7.15</td>
          <td class="tg-0pky">2.5</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">1.67</td>
          <td class="tg-0pky">11.75</td>
          <td class="tg-0pky">3.35</td>
          <td class="tg-0pky">10.05</td>
        </tr>
        <tr>
          <td class="tg-fymr">Germany</td>
          <td class="tg-fymr">Berlin</td>
          <td class="tg-0pky">8</td>
          <td class="tg-0pky">11.95</td>
          <td class="tg-0pky">12.67</td>
          <td class="tg-0pky">11.5</td>
          <td class="tg-0pky">11.85</td>
          <td class="tg-0pky">7.85</td>
          <td class="tg-0pky">1.67</td>
          <td class="tg-0pky">1.67</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">11.85</td>
          <td class="tg-0pky">2.45</td>
          <td class="tg-0pky">9.15</td>
        </tr>
        <tr>
          <td class="tg-fymr">Japan</td>
          <td class="tg-fymr">Tokyo</td>
          <td class="tg-0pky">13.5</td>
          <td class="tg-0pky">9.55</td>
          <td class="tg-0pky">11.15</td>
          <td class="tg-0pky">16.33</td>
          <td class="tg-0pky">10</td>
          <td class="tg-0pky">13</td>
          <td class="tg-0pky">11.5</td>
          <td class="tg-0pky">11.75</td>
          <td class="tg-0pky">11.85</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">9.85</td>
          <td class="tg-0pky">3.15</td>
        </tr>
        <tr>
          <td class="tg-fymr">Russia</td>
          <td class="tg-fymr">Moscow</td>
          <td class="tg-0pky">9.2</td>
          <td class="tg-0pky">14.55</td>
          <td class="tg-0pky">11.25</td>
          <td class="tg-0pky">11.25</td>
          <td class="tg-0pky">14.5</td>
          <td class="tg-0pky">11.5</td>
          <td class="tg-0pky">3.67</td>
          <td class="tg-0pky">3.35</td>
          <td class="tg-0pky">2.45</td>
          <td class="tg-0pky">9.85</td>
          <td class="tg-0pky">0</td>
          <td class="tg-0pky">7.5</td>
        </tr>
        <tr>
          <td class="tg-fymr">China</td>
          <td class="tg-fymr">Beijing</td>
          <td class="tg-0pky">13.5</td>
          <td class="tg-0pky">11.4</td>
          <td class="tg-0pky">12.67</td>
          <td class="tg-0pky">17.5</td>
          <td class="tg-0pky">10.67</td>
          <td class="tg-0pky">13.45</td>
          <td class="tg-0pky">9.67</td>
          <td class="tg-0pky">10.05</td>
          <td class="tg-0pky">9.15</td>
          <td class="tg-0pky">3.15</td>
          <td class="tg-0pky">7.5</td>
          <td class="tg-0pky">0</td>
        </tr>
        <tr>
          <td class="tg-0pky"> </td>
          <td class="tg-0pky"> </td>
          <td class="tg-fymr">New York</td>
          <td class="tg-fymr">Seattle</td>
          <td class="tg-fymr">Los Angeles</td>
          <td class="tg-fymr">Miami</td>
          <td class="tg-fymr">Vancouver</td>
          <td class="tg-fymr">Toronto</td>
          <td class="tg-fymr">London</td>
          <td class="tg-fymr">Paris</td>
          <td class="tg-fymr">Berlin</td>
          <td class="tg-fymr">Tokyo</td>
          <td class="tg-fymr">Moscow</td>
          <td class="tg-fymr">Beijing</td>
        </tr>
      </table>
    

{% endblock %}