{% extends "base.html" %}

{% block title %}
Training and Examples
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endwith %}
<h1>Training and examples</h1>
<p>
    You will be presented with a list of links to network events that the Intrusion
    Detection System (IDS) has flagged as alerted on. As the junior cybersecurity analyst at your company, your job is
    to determine if
    these alerts are false alarms, or if the alert is likely malicious behavior and should be escalated to more senior
    personnel to be dealt with.
</p>
<ul>
    <li>Click on the Event # to see more details about the network event. Your decision for each event will be posted
        next to the event.</li>
    <li>In this training, the first two events have some explanation and guidance.</li>
    <li>Refer to the <a href="{{ url_for('reference') }}">Security Playbook</a> for help on how to evaluate the network
        events. You may wish to open this in a new window on your browser.</li>
    <li>Do not use the Internet. Do not discuss with anyone else. If you have a question, raise your hand.</li>
    <li>Once you have evaluated all events, click the "Take the experiment!" button at the bottom.</li>
    <li>You may change your answers at any time.</li>
</ul>
<table class="table table-striped table-bordered">
    <tr>
        <th>Event Number</th>
        <th>Decision</th>
    </tr>

    {% for event, decision in eventsList %}
    <tr>
        <td><a href="{{ url_for('trainingEventPage', eventId = event.id) }}"> Event
                {{ loop.index }}</a></td>
        <td>{% if decision != None %}
            {{ decision }}
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>

{% if num_unprocessed_alerts > 0 %}
<div class="alert alert-warning">
    Number of events left to process: {{ num_unprocessed_alerts }}
</div>
{% else %}
<div class="alert alert-success">
    All events processed!
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="trainingConfirm" tabindex="-1" role="dialog" aria-labelledby="trainingConfirmLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trainingConfirmLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if num_unprocessed_alerts > 0 %}
                <p class="error"><strong>You have not made a decision on all events!</strong></p>
                {% endif %}
                <p>Are you sure you are ready to begin the experiment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="" method="POST">
                    <!-- <input class="mt-md-3" type="submit" value="Take the experiment!"> -->
                    <button type="submit" class="btn btn-primary">Yes, continue!</button>
                </form>

            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#trainingConfirm">
    Take the experiment!
</button>


{% endblock %}