{% extends "base.html" %}

{% block title %}
Completion Code
{% endblock %}

{% block content %}
<h1>Thank you!</h1>
<p>The experiment is complete. Please write down your username and completion code on the slip of papter and hand it to the proctor.</p>
<p><strong>User: {{ current_user.username }}</strong></p>
<p><strong>Completion code: {{ code }}</strong></p>
<button class="btn btn-primary" type="submit" onclick="location.href='{{ url_for('index') }}';">Return to homepage</button>
{% endblock %}