{% extends "eventPage.html" %}

{% block title %}
Training Event Details
{% endblock %}

{% block header_messages %}

{% if num_unprocessed_alerts > 0 %}
<div class="alert alert-warning">
    Number of alerts left to process: {{ num_unprocessed_alerts }}
</div>
{% else %}
<div class="alert alert-success">
    All events processed! Please navigate to <a href={{ url_for('training') }}>Training page</a> to move on! 
</div>
{% endif %}

<h1>Training Event #{{ event.id }}</h1>

{% endblock %}

{% block footer %}
{% if event.rationale %}
<div class="accordion mt-5" id="rationale">
    <div class="card">
        <div class="card-header" id="rationaleHeading">
            <h2 class="mb-0">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rationaleBody"
                    aria-expanded="true" aria-controls="rationale">
                    Show solution
                </button>
            </h2>
        </div>

        <div id="rationaleBody" class="collapse" aria-labelledby="rationaleHeading" data-parent="#rationale">
            <div class="card-body">
                {{ event.rationale }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
